h1{
    color:rgb(196, 77, 176);
}
body{
    text-align: center;
     font-family: cursive;
}
h2{
    color: rgb(231, 231, 81);
}
h3{
    color:rgb(6, 174, 90);
}
p{
    color:rgb(43, 7, 102);
}
table{
   margin-left:auto;
    margin-right:auto;
    width:75%;
     height:75%;
          border-spacing: 0;
           border-radius:20px;
              overflow:hidden ;
               border:3px solid rgb(53, 169, 111);
    th,td{
        padding:12px;
        color:rgb(43, 7, 102)
    }
}
table:hover{
       transform: scale(1.02);
}
th,td:hover{
       transform: scale(1.02);
}
  h1::after{
        content: " 🌈";
    }
     h2::after{
        content: " 🌐";
    }